[project]
	description = Docker file for deploying MidoNet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
[access "refs/heads/*"]
	read = group Registered Users
	push = +force group midonet-installers
	pushMerge = group midonet-installers
	forgeCommitter = group midonet-installers
	label-Code-Review = -2..+2 group midonet-installers
	label-Code-Review = -1..-1 group Registered Users
	label-Verified = -1..+1 group midonet-bots
	label-Verified = -1..+1 group midonet-installers
	labelAs-Verified = -1..+1 group midonet-installers
	removeReviewer = group midonet-installers
	submit = group midonet-installers
	exclusiveGroupPermissions = forgeCommitter push pushMerge label-Code-Review label-Verified labelAs-Verified submit
[access "refs/tags/*"]
	push = +force group midonet-installers
	pushTag = +force group midonet-installers
	pushSignedTag = group midonet-installers
[access "refs/drafts/*"]
	read = group Registered Users
	push = group Registered Users
[access "refs/publish/*"]
	read = group Registered Users
	push = group Registered Users
