[project]
	description = Docker file for deploying MidoNet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Midokura Bot (midosaba)
[access "refs/for/refs/*"]
	read = group user/Midokura Bot (midosaba)
	push = group user/Midokura Bot (midosaba)
	label-Code-Review = -2..+2 group user/Midokura Bot (midosaba)
	label-Verified = -1..+1 group user/Midokura Bot (midosaba)
	rebase = group user/Midokura Bot (midosaba)
	removeReviewer = group user/Midokura Bot (midosaba)
	submit = group user/Midokura Bot (midosaba)
[access "refs/heads/*"]
	read = group user/Midokura Bot (midosaba)
	create = group user/Midokura Bot (midosaba)
	push = +force group user/Midokura Bot (midosaba)
	pushMerge = group user/Midokura Bot (midosaba)
[access "refs/tags/*"]
	push = +force group user/Midokura Bot (midosaba)
	pushTag = group user/Midokura Bot (midosaba)
	pushSignedTag = group user/Midokura Bot (midosaba)
